{% block body %}
	<h1>Liste des produits</h1>
	<h2>Trier par :</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
				<th>Date de création</th>
                <th>Vendeurs</th>
        <tbody>
            </tr>
        </thead>
	
	{% for product in products %}
		<tr>
			<td>{{ product.title }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.createdAt|date('d/m/Y') }}</td>
            <td>{{ product.seller.fullname }}
            </td>
            
			
</tr>
	{% endfor %}
		</tbody>
	</table>
{% endblock %}
    

    